@charset "UFC-8";
#nav{
    text-align: center;
}
#nav a{
    padding: 30px;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 300px 50px;
    min-height: 100%;
    background-color: #FCBC90 ;

}
main{
    display:grid;
    padding: 10px;
    gap: 10px;
    grid-template-areas: 
    "bio bio bio"
    "hobbies hobbies schools"
    "footer footer footer";
}

#header {
    padding:10px;
    border: 1px solid black;
    width: 464px;
    height: 68px;
    left: 37px;
    right: 593px;
    top: 30px;
    bottom: 710px;

    }
.Bio{
    grid-area: bio;
    background-color: orange;
    border: 2px solid black;
    padding-bottom: 200px;
    padding-left: 5px;
}
.Hobbies{
    grid-area: hobbies;
    background-image: url('../week3_bio/images/Bluecoats-8562.jpg');
    background-size: relative;
    border: 2px solid black;
    padding-bottom: 30px;
    padding-left: 5px;
    color:  orange;
}
.Schools{
    grid-area: schools;
    border: 2px solid black;
    padding-left: 5px;
}
footer{
    padding-top: 50px;
    grid-area: footer;
    text-align: center;
}
h2{
    border-bottom: 1px solid black;
    border-right: 50px solid transparent;
}