@charset "UTF-8";

div{
    color:purple;
}
.orange{
    color:orange;
}
#bob{
    color:red;
}
a:link, a:visited{
    color:brown;
}

a:hover, a:active{
    color:blue;
}
input[type = "text"]{
    background-color: yellow;
} 