body{
    display: grid;
    background-color: black;
    width:1820px;
    height: 100px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
header h1{
    color: red;
    margin: 0;
}
header nav{
    display: flex;
    padding: 16px;
}
main{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-areas: "one one four"
    "two three four"
    "two three four"
    "footer footer footer";
    background-color: #282828;
}
.One{
    grid-area: one;
    width: 1440px;
    height:388px;
    background-image: url('../week4_Crystal/f13_images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -85px;
}
.two{
    grid-area: two;
    display: flex;
    width: 700px;
    height:481px;
    background-color: #393939;
    border-top: 4px solid #BB0908;
    flex-wrap: wrap;
    flex-direction: column;
}
.two h2{
    font-size: 30px;
    display: flex;
    color:red;
    width: 353px;
    height:77px;
    border-bottom: 4px  #BB0908;
    justify-content: space-around;
    border-bottom: 4px solid #BB0908;
}
.two p{
    display: flex;
    color:white;
    width: 349px;
    height: 216px;
    font-size: 18px;
    text-align: left;
}
.two img{
    width: 310px;
    height:478px;
}
.two div{
    display: flex;
}
.two #dvd img{
    width: 117px;
    height:148px;
    display: flex;
}
.two #dvd p{
    font-size: 18px;
    height:157px;
    width: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.two #dvd p b{
    font-size: 72px;
}
.three{
    grid-area: three;
    width: 700px;
    height:481px;
    background-color: #393939;
    border-top: 4px solid #BB0908;
}
.three p{
    color: white;
    display: flex;
    font-size: 24px;
    padding: 16px;
}
.three img{
    width: 641px;
    height:229px;
}
.four{
    grid-area: four;
    width: 360px;
    height:918px;
    background-color: #393939;
    padding: 16px;
}
.four img{
    display: flex;
    width: 325px;
    height:254px;
}
.four p{
    color:white;
    font-size: 18px;
    padding: 16px;
}
.four b{
    color:red;
}
.four #underwater img{
    display: flex;
    width: 325px;
    height:170px;
}
footer{
    color: white;
    grid-area: footer;
}