@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@340&display=swap');

*{
    padding:5px;
}
body{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
}
#footer{
    text-align: center;
}
#nav{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 340;
    font-style: normal;
    text-align: center;
    word-spacing: 30px;
    font-size: x-large;
    padding: 20px;
}
h2{
    border-bottom: 5px solid black;
}
i{
    color: black;   
}
a:hover, a:active{
    color:orange;
}
#main{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    

}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}