@charset "UTF-8";

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container-fluid {
    flex: 1;
}
main {
    flex: 1;
}
/* Hide the navbar items and toggler on larger screens */
@media (min-width: 992px) {
    #horizontalNavbar .navbar-nav,
    #horizontalNavbar .navbar-toggler {
    display: none !important;
}
}
/* Ensure the sidebar is hidden on smaller screens */
@media (max-width: 991px) {
    #sidebar {
    display: none;
}
}
.container .row .col-sm{
    height:50vh;
    background-image: url('../Final_Project/images/pexels-ifreestock-585752.jpg');
    background-size: cover;
    background-position: bottom;
    margin-bottom: 20px;
}
#info{
    background-image: url('../Final_Project/images/IMG_3466.jpg');
    background-size: contain;
    height: 50vh;
    background-repeat: no-repeat;
}
footer{
    display: flex;
}
.project-card {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.project-card.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.project-img {
    height: 200px;
    object-fit: cover;
}