
html{
    height:100%;
}
body{
    height: 100%;
    margin: 0;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height: 23px;
    background-color: #505050;
}
header ul {
    list-style-type: none;
    margin: 0;
}
  
header li {
    display: inline;
    padding: 10px;
    color: white;
}
section{
    height: 100%;
    display: flex;
}
aside{
    width: 45px;
    background-color: #505050;
}
button.dash{
    background-image: url('images/tray.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 43px;
    height: 33px;
    background-position: center;
}

button.window{
    background-image: url('images/tiles.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 43px;
    height: 33px;
    background-position: center;
}
button.trash{
    background-image: url('images/trash.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 43px;
    height: 33px;
    background-position: center;
}
.tray{
    width: 144px;
    min-width: 144px;
    background-color: #7B7575;
    transition: all 1s;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
ul li.paper{
    list-style-type: none;
    list-style-image: url('images/paper.png');
}
ul li:hover{
    filter: brightness(70%);
}
ul li.fire{
    list-style-type: none;
    list-style-image: url('images/fire.png');
}
.tray div .material-symbols-outlined {
    font-weight: bold;
    vertical-align: top;
}
.tray div h3{
    margin-top: 0;
    padding: 10px;
    border-top: 2px solid white ;
    border-bottom: 2px solid #505050;
    color: white;
}

.tray div .material-symbols-outlined:hover{
    filter: brightness(70%);
}
.tray div ul{
    color: white;
}
.hide{
    min-width: 0;
    width: 0;
    transition: all 1s; 
}
div.tray div{
    box-sizing: border-box;
    width: 144px;
    min-width: 144px;
}
#program{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #060606;
    height: 34px;
    display: flex;
}
button{
    width: 173px;
    background-color: #505050;
    border: 0 solid black;
    margin-right: 2px;
    color:white;
    
}
button:last-child{
    margin:0;
}
.active{
    background-color: #161616;
}
#breadcrumbs{
    height: 23px;
    background-color: #161616;
}
textarea{
    height: 100%;
    width: 100%;
    background-color: #060606;
    border: 0 solid #060606;
    outline: 0;
    resize: none;
    box-sizing: border-box;
}
footer{
    height: 16px;
    background-color: #0254A0;
    border-top: 1px solid white;
}
